In [49]:
# MongoDB:
#  1)Take one of the previous SQL databases created by you
#   2)In Python, write the code which extracts the tables from that DB

In [50]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='countries_data')

cursor = db.cursor()

cursor.execute("SELECT * FROM countries")
result = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
countries_df = pd.DataFrame(result, columns=columns)

cursor.execute("SELECT * FROM cities")
result = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
cities_df = pd.DataFrame(result, columns=columns)

db.close()

In [62]:
countries_df

,Country_ID,Country,Area,Population,Capital
0,AS01,China,"3,700,000 sq mi (9 597 000 km2)",1439323776,Beijing
1,AS02,Japan,"145,935 sq mi (377,970 km2)",125682000,Tokyo
2,CO1,Albania,"11,100 sq mi (28,748 km2 )",2886026,Tirana
3,CO10,Croatia,"21,851 sq mi (56,594 km2 )",4190669,Zagreb
4,CO11,Cyprus,"3,572 sq mi (9,251 km2 )",848319,Nicosia
5,CO12,Czech Republic,"30,450 sq mi (78,866 km2 )",10553843,Prague
6,CO13,Denmark,"16,573.61 sq mi (42,925.46 km2 )",5707251,Copenhagen
7,CO14,Estonia,"17,462 sq mi (45 227 km2 )",1315944,Tallinn
8,CO15,Finland,"130,666 sq mi (338,424 km2 )",5487308,Helsinki
9,CO16,Republic of Macedonia,"9,928 sq mi (25,713 km2 )",2071278,Skopje
10,CO17,France,"244,474 sq mi (633 187 km2 )",66759950,Paris
11,CO18,Georgia,"26,900 sq mi (69,700 km2 )",3967699,Tbilisi Kutaisi (legislative)
12,CO19,Germany,"137,983 sq mi (357 376 km2 )",82175684,Berlin
13,CO2,Andorra,180.55 sq mi (467.63 km2 ),79034,Andorra la Vella
14,CO20,Greece,"50,949 sq mi (131,957 km2 )",10783748,Athens
15,CO21,Hungary,"35,920 sq mi (93,030 km2 )",9830485,Budapest
16,CO22,Iceland,"39,682 sq mi (102,775 km2 )",332529,Reykjavík
17,CO23,Ireland,"26,948 sq mi (69 797 km2 )",4724720,Dublin
18,CO24,Italy,"116,347 sq mi (301,338 km2 )",60665551,Rome
19,CO25,Kosovo,"4,212 sq mi (10,908 km2 )",1771604,Pristina
20,CO26,Latvia,"24,938 sq mi (64,589 km2 )",1968957,Riga
21,CO27,Liechtenstein,62 sq mi (160 km2 ),37622,Vaduz
22,CO28,Lithuania,"25,200 sq mi (65,300 km2 )",2888558,Vilnius
23,CO29,Luxembourg,"998.6 sq mi (2,586.4 km2 )",576249,Luxembourg City
24,CO3,Armenia,"11,484 sq mi (29,743 km2 )",2998577,Yerevan
25,CO30,Malta,122 sq mi (316 km2 ),434403,Valletta
26,CO31,Moldova,"13,068 sq mi (33,846 km2 )",3553056,Chișinău
27,CO32,Monaco,0.78 sq mi (2.02 km2 ),384,Monaco (city-state)
28,CO33,Montenegro,"5,333 sq mi (13,812 km2 )",62218,Podgorica
29,CO34,Netherlands,"16,040 sq mi (41,543 km2 )",16979120,Amsterdam
30,CO35,Norway,"148,718 sq mi (385,178 km2 )",5210721,Oslo
31,CO36,Poland,"120,726 sq mi (312,679 km2 )",37967209,Warsaw
32,CO37,Portugal,"35,603 sq mi (92,212 km2 )",10341330,Lisbon
33,CO38,Romania,"92,043 sq mi (238,391 km2 )",19760314,Bucharest
34,CO39,Russia,"6,592,800 sq mi (17,075,200 km2 )",146544710,Moscow
35,CO4,Austria,"32,386 sq mi (83,879 km2 )",8690076,Vienna
36,CO40,San Marino,23.6 sq mi (61.2 km2 ),33005,City of San Marino
37,CO41,Serbia,"34,116 sq mi (88,361 km2 )",7076372,Belgrade
38,CO42,Slovakia,"18,933 sq mi (49,035 km2 )",5426252,Bratislava
39,CO43,Slovenia,"7,827 sq mi (20,273 km2 )",2064188,Ljubljana
40,CO44,Spain,"195,360 sq mi (505,990 km2 )",46445828,Madrid
41,CO45,Sweden,"169,334 sq mi (438 574 km2 )",9851017,Stockholm
42,CO46,Switzerland,"15,940 sq mi (41,285 km2 )",8327126,None (de jure) Bern (de facto
43,CO47,Turkey,"302,455 sq mi (783,356 km2 )",78741053,Ankara
44,CO48,Ukraine,"233,000 sq mi (603,500 km2 )",43733762,Kiev
45,CO49,United Kingdom,"95,957 sq mi (248 528 km2 )",65382556,London
46,CO5,Azerbaijan,"33,400 sq mi (86,600 km2 )",9705643,Baku
47,CO50,Vatican City,0.17 sq mi (0.44 km2 ),820,Vatican City (city-state)
48,CO6,Belarus,"80,153 sq mi (207,595 km2 )",9498364,Minsk
49,CO7,Belgium,"11,787 sq mi (30,528 km2 )",11311117,Brussels
50,CO8,Bosnia and Herzegovina,"19,767 sq mi (51,197 km2 )",3280819,Sarajevo
51,CO9,Bulgaria,"42,614 sq mi (110 370 km² )",7153784,Sofia

In [57]:
#   Connect to MongoDB

In [52]:
import pymongo

In [53]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://ievafeldberga:ekhDOSYuYn47xNTC@cluster0.ngbu1a4.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [54]:
db = client["countries_data"]

In [56]:
db

Database(MongoClient(host=['ac-ncgy3iu-shard-00-00.ngbu1a4.mongodb.net:27017', 'ac-ncgy3iu-shard-00-01.ngbu1a4.mongodb.net:27017', 'ac-ncgy3iu-shard-00-02.ngbu1a4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-uvzy4x-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x000001FEE4994F10>), 'countries_data')

In [59]:
#   3)Load the data from these tables as the collections to MongoDB collections (create them before)
#    3.1: Create unique index

In [70]:
def load_data_to_mongodb(dataframe, collection_name):
    collection = db[collection_name]
    collection.create_index("Country_ID", unique=True)
    
    collection.delete_many({})
    
    # Handle with duplicate Country_IDs in the DataFrame
    dataframe.drop_duplicates(subset=["Country_ID"], keep="first", inplace=True) 
    dataframe.reset_index(drop=True, inplace=True) 
    
    records = dataframe.to_dict(orient="records")
    collection.insert_many(records)

load_data_to_mongodb(countries_df, "countries_collection")

In [ ]:
#   4)Insert at least 3 entries to these collections

In [71]:
entry1 = {
    "Country": "India",
    "Country_ID": "AS03",
    "Area": "1,269,219 sq mi (3,287,263 km2)",
    "Population": 1393409038,
    "Capital": "New Delhi"
}

entry2 = {
    "Country": "Indonesia",
    "Country_ID": "AS04",
    "Area": "735,358 sq mi (1,904,569 km2)",
    "Population": 273523615,
    "Capital": "Jakarta"
}

entry3 = {
    "Country": "South Korea",
    "Country_ID": "AS05",
    "Area": "38,691 sq mi (100,363 km2)",
    "Population": 51780579,
    "Capital": "Seoul"
}

db["countries_collection"].insert_many([entry1, entry2, entry3])

In [76]:
# 5): Perform at least 3 selections based on different filters

# Selection 1: Find countries with a population greater than 300 million
selection1 = db["countries_collection"].find({"Population": {"$gt": 300000000}})
for country in selection1:
    print(country)

{'_id': ObjectId('64cfe0de7dc6dc7fecb6b3bb'), 'Country': 'India', 'Country_ID': 'AS03', 'Area': '1,269,219 sq mi (3,287,263 km2)', 'Population': 1393409038, 'Capital': 'New Delhi'}

In [80]:
# Selection 2: Find countries with "sq mi" or with "km" in their area and limit the results to 5
selection2 = db["countries_collection"].find({"$or": [{"Area": {"$regex": "sq mi"}}, {"Area": {"$regex": "km2"}}]}).limit(5)
for country in selection2:
    print(country)

{'_id': ObjectId('64cfe0c07dc6dc7fecb6b387'), 'Country_ID': 'AS01', 'Country': 'China', 'Area': '3,700,000 sq\xa0mi (9 597 000 km2)', 'Population': '1439323776', 'Capital': 'Beijing'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b388'), 'Country_ID': 'AS02', 'Country': 'Japan', 'Area': '145,935 sq\xa0mi (377,970 km2)', 'Population': '125682000', 'Capital': 'Tokyo'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b389'), 'Country_ID': 'CO1', 'Country': 'Albania', 'Area': '11,100\xa0sq\xa0mi (28,748\xa0km2 )', 'Population': '2886026', 'Capital': 'Tirana'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b38a'), 'Country_ID': 'CO10', 'Country': 'Croatia', 'Area': '21,851\xa0sq\xa0mi (56,594\xa0km2 )', 'Population': '4190669', 'Capital': 'Zagreb'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b38b'), 'Country_ID': 'CO11', 'Country': 'Cyprus', 'Area': '3,572\xa0sq\xa0mi (9,251\xa0km2 )', 'Population': '848319', 'Capital': 'Nicosia'}

In [113]:
# # Selection 3: Find countries with country ID CO14 and with "sq mi" in it's area
selection3 = db["countries_collection"].find({
    "$and": [
        {"Country_ID": "CO14"},             
        {"Area": {"$regex": "sq mi"}}   
    ]
})

for country in selection3:
    print(country)

{'_id': ObjectId('64cfe0c07dc6dc7fecb6b38e'), 'Country_ID': 'CO14', 'Country': 'Estonia', 'Area': '17,462 sq mi (45 227 km2 )', 'Population': '1315944', 'Capital': 'Tallinn'}

In [114]:
#   6)Perform at least 3 update operations

In [115]:
# Update 1: Update the population of Albania
db["countries_collection"].update_one({"Country": "Albania"}, {"$set": {"Population": 3000000}})

# Update 2: Update the capital of Andorra
db["countries_collection"].update_one({"Country": "Andorra"}, {"$set": {"Capital": "Andorra la Vella_test"}})

# Update 3: Update the area of Armenia
db["countries_collection"].update_one({"Country": "Armenia"}, {"$set": {"Area": "12,000 sq mi (30,000 km2)"}})

In [118]:
# Query the updated document for Albania, Andorra and Armenia
albania_data = db["countries_collection"].find_one({"Country": "Albania"})
print(albania_data)

andorra_data = db["countries_collection"].find_one({"Country": "Andorra"})
print(andorra_data)

armenia_data = db["countries_collection"].find_one({"Country": "Armenia"})
print(armenia_data)

{'_id': ObjectId('64cfe0c07dc6dc7fecb6b389'), 'Country_ID': 'CO1', 'Country': 'Albania', 'Area': '11,100\xa0sq\xa0mi (28,748\xa0km2 )', 'Population': 3000000, 'Capital': 'Tirana'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b394'), 'Country_ID': 'CO2', 'Country': 'Andorra', 'Area': '180.55 sq mi (467.63 km2 )', 'Population': '79034', 'Capital': 'Andorra la Vella_test'}
{'_id': ObjectId('64cfe0c07dc6dc7fecb6b39f'), 'Country_ID': 'CO3', 'Country': 'Armenia', 'Area': '12,000 sq mi (30,000 km2)', 'Population': '2998577', 'Capital': 'Yerevan'}

In [122]:
# Print MongoDB collection as a DataFrame
all_documents = db["countries_collection"].find()
df = pd.DataFrame(list(all_documents))
df

,_id,Country_ID,Country,Area,Population,Capital
0,64cfe0c07dc6dc7fecb6b387,AS01,China,"3,700,000 sq mi (9 597 000 km2)",1439323776,Beijing
1,64cfe0c07dc6dc7fecb6b388,AS02,Japan,"145,935 sq mi (377,970 km2)",125682000,Tokyo
2,64cfe0c07dc6dc7fecb6b389,CO1,Albania,"11,100 sq mi (28,748 km2 )",3000000,Tirana
3,64cfe0c07dc6dc7fecb6b38a,CO10,Croatia,"21,851 sq mi (56,594 km2 )",4190669,Zagreb
4,64cfe0c07dc6dc7fecb6b38b,CO11,Cyprus,"3,572 sq mi (9,251 km2 )",848319,Nicosia
5,64cfe0c07dc6dc7fecb6b38c,CO12,Czech Republic,"30,450 sq mi (78,866 km2 )",10553843,Prague
6,64cfe0c07dc6dc7fecb6b38d,CO13,Denmark,"16,573.61 sq mi (42,925.46 km2 )",5707251,Copenhagen
7,64cfe0c07dc6dc7fecb6b38e,CO14,Estonia,"17,462 sq mi (45 227 km2 )",1315944,Tallinn
8,64cfe0c07dc6dc7fecb6b38f,CO15,Finland,"130,666 sq mi (338,424 km2 )",5487308,Helsinki
9,64cfe0c07dc6dc7fecb6b390,CO16,Republic of Macedonia,"9,928 sq mi (25,713 km2 )",2071278,Skopje
10,64cfe0c07dc6dc7fecb6b391,CO17,France,"244,474 sq mi (633 187 km2 )",66759950,Paris
11,64cfe0c07dc6dc7fecb6b392,CO18,Georgia,"26,900 sq mi (69,700 km2 )",3967699,Tbilisi Kutaisi (legislative)
12,64cfe0c07dc6dc7fecb6b393,CO19,Germany,"137,983 sq mi (357 376 km2 )",82175684,Berlin
13,64cfe0c07dc6dc7fecb6b394,CO2,Andorra,180.55 sq mi (467.63 km2 ),79034,Andorra la Vella_test
14,64cfe0c07dc6dc7fecb6b395,CO20,Greece,"50,949 sq mi (131,957 km2 )",10783748,Athens
15,64cfe0c07dc6dc7fecb6b396,CO21,Hungary,"35,920 sq mi (93,030 km2 )",9830485,Budapest
16,64cfe0c07dc6dc7fecb6b397,CO22,Iceland,"39,682 sq mi (102,775 km2 )",332529,Reykjavík
17,64cfe0c07dc6dc7fecb6b398,CO23,Ireland,"26,948 sq mi (69 797 km2 )",4724720,Dublin
18,64cfe0c07dc6dc7fecb6b399,CO24,Italy,"116,347 sq mi (301,338 km2 )",60665551,Rome
19,64cfe0c07dc6dc7fecb6b39a,CO25,Kosovo,"4,212 sq mi (10,908 km2 )",1771604,Pristina
20,64cfe0c07dc6dc7fecb6b39b,CO26,Latvia,"24,938 sq mi (64,589 km2 )",1968957,Riga
21,64cfe0c07dc6dc7fecb6b39c,CO27,Liechtenstein,62 sq mi (160 km2 ),37622,Vaduz
22,64cfe0c07dc6dc7fecb6b39d,CO28,Lithuania,"25,200 sq mi (65,300 km2 )",2888558,Vilnius
23,64cfe0c07dc6dc7fecb6b39e,CO29,Luxembourg,"998.6 sq mi (2,586.4 km2 )",576249,Luxembourg City
24,64cfe0c07dc6dc7fecb6b39f,CO3,Armenia,"12,000 sq mi (30,000 km2)",2998577,Yerevan
25,64cfe0c07dc6dc7fecb6b3a0,CO30,Malta,122 sq mi (316 km2 ),434403,Valletta
26,64cfe0c07dc6dc7fecb6b3a1,CO31,Moldova,"13,068 sq mi (33,846 km2 )",3553056,Chișinău
27,64cfe0c07dc6dc7fecb6b3a2,CO32,Monaco,0.78 sq mi (2.02 km2 ),384,Monaco (city-state)
28,64cfe0c07dc6dc7fecb6b3a3,CO33,Montenegro,"5,333 sq mi (13,812 km2 )",62218,Podgorica
29,64cfe0c07dc6dc7fecb6b3a4,CO34,Netherlands,"16,040 sq mi (41,543 km2 )",16979120,Amsterdam
30,64cfe0c07dc6dc7fecb6b3a5,CO35,Norway,"148,718 sq mi (385,178 km2 )",5210721,Oslo
31,64cfe0c07dc6dc7fecb6b3a6,CO36,Poland,"120,726 sq mi (312,679 km2 )",37967209,Warsaw
32,64cfe0c07dc6dc7fecb6b3a7,CO37,Portugal,"35,603 sq mi (92,212 km2 )",10341330,Lisbon
33,64cfe0c07dc6dc7fecb6b3a8,CO38,Romania,"92,043 sq mi (238,391 km2 )",19760314,Bucharest
34,64cfe0c07dc6dc7fecb6b3a9,CO39,Russia,"6,592,800 sq mi (17,075,200 km2 )",146544710,Moscow
35,64cfe0c07dc6dc7fecb6b3aa,CO4,Austria,"32,386 sq mi (83,879 km2 )",8690076,Vienna
36,64cfe0c07dc6dc7fecb6b3ab,CO40,San Marino,23.6 sq mi (61.2 km2 ),33005,City of San Marino
37,64cfe0c07dc6dc7fecb6b3ac,CO41,Serbia,"34,116 sq mi (88,361 km2 )",7076372,Belgrade
38,64cfe0c07dc6dc7fecb6b3ad,CO42,Slovakia,"18,933 sq mi (49,035 km2 )",5426252,Bratislava
39,64cfe0c07dc6dc7fecb6b3ae,CO43,Slovenia,"7,827 sq mi (20,273 km2 )",2064188,Ljubljana
40,64cfe0c07dc6dc7fecb6b3af,CO44,Spain,"195,360 sq mi (505,990 km2 )",46445828,Madrid
41,64cfe0c07dc6dc7fecb6b3b0,CO45,Sweden,"169,334 sq mi (438 574 km2 )",9851017,Stockholm
42,64cfe0c07dc6dc7fecb6b3b1,CO46,Switzerland,"15,940 sq mi (41,285 km2 )",8327126,None (de jure) Bern (de facto
43,64cfe0c07dc6dc7fecb6b3b2,CO47,Turkey,"302,455 sq mi (783,356 km2 )",78741053,Ankara
44,64cfe0c07dc6dc7fecb6b3b3,CO48,Ukraine,"233,000 sq mi (603,500 km2 )",43733762,Kiev
45,64cfe0c07dc6dc7fecb6b3b4,CO49,United Kingdom,"95,957 sq mi (248 528 km2 )",65382556,London
46,64cfe0c07dc6dc7fecb6b3b5,CO5,Azerbaijan,"33,400 sq mi (86,600 km2 )",9705643,Baku
47,64cfe0c07dc6dc7fecb6b3b6,CO50,Vatican City,0.17 sq mi (0.44 km2 ),820,Vatican City (city-state)
48,64cfe0c07dc6dc7fecb6b3b7,CO6,Belarus,"80,153 sq mi (207,595 km2 )",9498364,Minsk
49,64cfe0c07dc6dc7fecb6b3b8,CO7,Belgium,"11,787 sq mi (30,528 km2 )",11311117,Brussels
50,64cfe0c07dc6dc7fecb6b3b9,CO8,Bosnia and Herzegovina,"19,767 sq mi (51,197 km2 )",3280819,Sarajevo
51,64cfe0c07dc6dc7fecb6b3ba,CO9,Bulgaria,"42,614 sq mi (110 370 km² )",7153784,Sofia
52,64cfe0de7dc6dc7fecb6b3bb,AS03,India,"1,269,219 sq mi (3,287,263 km2)",1393409038,New Delhi
53,64cfe0de7dc6dc7fecb6b3bc,AS04,Indonesia,"735,358 sq mi (1,904,569 km2)",273523615,Jakarta
54,64cfe0de7dc6dc7fecb6b3bd,AS05,South Korea,"38,691 sq mi (100,363 km2)",51780579,Seoul

In [124]:
# Redis DB:
#   1)Use the same SQL data as in Part 1.

In [123]:
import redis

In [125]:
r = redis.StrictRedis(host='localhost', port=6379, db=0)

In [126]:
print(r)

Redis<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>

In [160]:
db = mysql.connector.connect(user='root',
                             password='',
                             host='localhost',
                             database='countries_data')

cursor = db.cursor()

cursor.execute("SELECT * FROM countries")
result = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
countries_df = pd.DataFrame(result, columns=columns)

cursor.execute("SELECT * FROM cities")
result = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
cities_df = pd.DataFrame(result, columns=columns)

db.close()

In [166]:
# Iterate through the countries DataFrame and set key-value pairs in Redis
for index, row in countries_df.iterrows():
    country_id = row['Country_ID']
    country_data = {
        'Country': row['Country'],
        'Area': row['Area'],
        'Population': row['Population'],
        'Capital': row['Capital']
    }
    for field, value in country_data.items():
        r.hset(country_id, field, value)

# Test retrieving the value of a key from Redis 
country_id = 'AS02'
retrieved_country_data = redis_client.hgetall(country_id)
print("Country Data:")
print(retrieved_country_data)

Country Data:
{b'Country': b'Japan', b'Area': b'145,935 sq\xc2\xa0mi (377,970 km2)', b'Population': b'125682000', b'Capital': b'Tokyo'}

In [162]:
# Set a key with a specific value in Redis.
r.set("Country", "Thailand")

True

In [163]:
# Retrieve the value of a key from Redis.
country_value = r.get("Country")
print("Country Value:", country_value.decode())

Country Value: Thailand

In [164]:
# Delete the key-value pair from Redis
r.delete("Country")

1

In [165]:
# Retrieve the value after deletion
deleted_country_value = r.get("Country")
print("Deleted Country Value:", deleted_country_value)

Deleted Country Value: None